{% extends 'layout.html' %}
{% set title = 'Submit Image' %}
{% from "_formhelpers.html" import render_field %}
{% block content %}

    <h2>{{ title }}</h2><br>
    <form method="POST" action="" enctype="multipart/form-data">
        {{ form.csrf_token }}
        <dl>
            <p>Hi Selamat datang</p>
{#            {{ render_field(form.kit_id, class="form-control") }}#}
{#            {{ render_field(form.blood_image, class="custom-file", id="input_file") }}#}
        </dl><br>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>




{% endblock %}
