{% extends 'layout.html' %}
{% set title = 'Blood Registration' %}
{% from "_formhelpers.html" import render_field %}

            <h1>Enter Blood sample here</h1>

{% block content %}

    <div class="card" style="width: 100%; background-color: lavender">
        <div style="margin: 10px 10px 10px 10px">

            <h1>Enter Blood sample here</h1>

            <form method="POST" action="" enctype="multipart/form-data">
                {{ entry.csrf_token }}
                <p>
                {{ render_field(entry.kit_code, class="form-control") }}<br>
                <label for="img">Select image:</label>
                <input type="file" id="img" name="img" accept="image/*">
                <input type="submit">
                </p>
            </form>

        </div>
    </div>
{% endblock %}
