{% extends 'layout.html' %}
{% set title = 'Blog' %}
{% block content %}

    <header class="masthead">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="page-heading">
                        <h1>About Us</h1>
                        <span class="subheading">This is what we do.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>


    <!-- Main Content -->
    Edited by jack:) Did not remove the stuff at top cause it was badrul's work and may want to be reused?

    <h1>About Algorithm</h1>
    <br>

    <div class="clearfix">
  <img src="{{ url_for('static', filename='img/pathology-laboratory-equipments.jpg') }}" class="col-md-6 float-md-end mb-3 ms-md-3" alt="..." width="200" height="200">

  <p>
    Text explaining about algorithm.
  </p>

  <p>
    As you can see the paragraphs gracefully wrap around the floated image. Size of image can be adjusted.
  </p>

    <p>
        The image of blood testing machine shown now should be replaced with flowchart of algorithm and changed in the future.
  </p>

</div>

<h1>About Us</h1>
    <br>

    <p>
    Text explaining about us.
  </p>

<div class="container">
  <div class="row">

      <div class="col">
          <div class="card" style="width: 25rem;">
              <img class="card-img-top" src="{{ url_for('static', filename='User profile photo') }}" width="200" height="200">
              <div class="card-body">
                  <br>
                  <dl class="row">
                      <dt class="col-sm-3">Name</dt>
                      <dd class="col-sm-9">Jack Law</dd>

                      <dt class="col-sm-3">About</dt>
                      <dd class="col-sm-9">I am Jack Law and I study in UCL.</dd>

              </div>
          </div>
      </div>


      <div class="col">
          <div class="card" style="width: 25rem;">
              <img class="card-img-top" src="{{ url_for('static', filename='User profile photo') }}" width="200" height="200">
              <div class="card-body">
                  <br>
                  <dl class="row">
                      <dt class="col-sm-3">Name</dt>
                      <dd class="col-sm-9">Hafiz</dd>

                      <dt class="col-sm-3">About</dt>
                      <dd class="col-sm-9">I am Hafiz and I study in UCL.</dd>

              </div>
          </div>
      </div>


      <div class="col">
          <div class="card" style="width: 25rem;">
              <img class="card-img-top" src="{{ url_for('static', filename='User profile photo') }}" width="200" height="200">
              <div class="card-body">
                  <br>
                  <dl class="row">
                      <dt class="col-sm-3">Name</dt>
                      <dd class="col-sm-9">Farhan</dd>

                      <dt class="col-sm-3">About</dt>
                      <dd class="col-sm-9">I am Farhan and I study in UCL.</dd>

              </div>
          </div>
      </div>


      <div class="col">
          <div class="card" style="width: 25rem;">
              <img class="card-img-top" src="{{ url_for('static', filename='User profile photo') }}" width="200" height="200">
              <div class="card-body">
                  <br>
                  <dl class="row">
                      <dt class="col-sm-3">Name</dt>
                      <dd class="col-sm-9">Badrul</dd>

                      <dt class="col-sm-3">About</dt>
                      <dd class="col-sm-9">I am Badrul and I study in UCL.</dd>

              </div>
          </div>
      </div>


  </div>
</div>

{% endblock %}
