{% extends 'layout.html' %}
{% set title = 'FAQs' %}
{% block content %}

 <!-- Main Content -->

    <h1>Frequently Asked Questions</h1>
    <br>

    <ol class="list-group list-group-numbered">

  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">1) How do I use the blood test kit?</div>
      Answer how does blood test works. Not really sure yet haha :(
    </div>
    <span class="badge bg-primary rounded-pill"></span>
  </li>

  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">2) How long does it take for my results to get back to me?</div>
      Your blood results should arrive in 5 working days at most. If not, feel free to contact us through our feedback form.
    </div>
    <span class="badge bg-primary rounded-pill"></span>
  </li>

  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">3) I was notified that my results came in through e-mail. What should I do next?</div>
      Go to dashboard or log in to your own profile to see your most recent results.
    </div>
    <span class="badge bg-primary rounded-pill"></span>
  </li>

    <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">4) When will the blood test kit arrive to me?</div>
      Your blood test kit should arrive in 5 working days at most. If not, feel free to contact us through our feedback form.
    </div>
    <span class="badge bg-primary rounded-pill"></span>
  </li>

    <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">5) How do I register my blood test kit/ What is registration?</div>
      Registration is required as part of the sampling process. It enables us to send the results of testing to you. Without registration, results will not be provided. Once the sampling process has occurred, registering the kit registration ID is necessary. Follow the instructions provided with the blood test kit to carry registration out.
    </div>
    <span class="badge bg-primary rounded-pill"></span>
  </li>

    <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">6) What is my kit registration ID?</div>
      Your kit registration ID is found within your blood test kit on pre-printed labels. You must use your kit registration ID to register your kit. You must not lose your kit registration ID.
    </div>
    <span class="badge bg-primary rounded-pill"></span>
  </li>

</ol>

{% endblock %}
