{% extends 'layout.html' %}
{% set title = 'Blog' %}
{% block content %}

    <!-- Main Content -->

<div class="card" style="width: 100%; background-color: lavender">
    <div class ="card-body">
    <h1>More on our processing method</h1>
    <br>
        <div class="card">
        <div class="card-body">
            <h3>Blood processing made easy
            <small class="text-muted"> and quick!</small>
        </h3>

            <div class="clearfix">
          <img src="{{ url_for('static', filename='img/CNN.jpg') }}" class="col-md-6 float-md-end mb-3 ms-md-3" alt="..." width="250" height="250">

          <p class="lead">
              Artificial intelligence has made significant progress in closing the gap between human and computer capabilities,
              which is why we are using mathematical algorithms to process our blood samples.
          </p>

          <p>
              The algorithm used for the blood testing is Convolutional Neural Network (CNN) which is a class of the deep
              learning, most generally employed for image classification. CNN is a supervised learning where it uses large,
              labelled datasets for training of the algorithm to predict output accurately.
              The blood droplet images will go through two processes which are feature extraction by the convolutional layer,
              and classification by the neural network layer before predicting an output.
          </p>

            <p>
                Our algorithm has managed to reach a promising accuracy of 97%.
                Once we received your blood sample, and an image of the sample has been captured, the process of getting the
                results will be almost instantaneous.
            </p>

        </div>
        </div>

        </div>


    <br>

<h1>Meet Our Team!</h1>
    <br>


<div class="container">
  <div class="row">

      <div class="col">
          <div class="card" style="width: 35rem;">
{#              <img class="card-img-top" src="{{ url_for('static', filename='User profile photo') }}" width="250" height="250">#}
              <div class="card-body">

                    <div class="row">
                        <div class ="col">
                            <h4><p class="text-center">UCL MEng Mechanical Engineering students</p></h4>
                            <p class="lead">Greetings! We are a team of dedicated Mechanical Engineering students from UCL. This website is made as part of our final year project, which we have developed over a span of 2 terms of study.</p>
                        </div>
                        <div class ="col">
                            <dl class="row">
                                <dt class="col-sm-5">Role</dt>
                                <dd class="col-sm-9">Alternative Algorithm & Website Development </dd>
                                <dt class="col-sm-5">Members</dt>
                                <dd class="col-sm-9"></dd><ul class="list-unstyled">
                                    <li>Lim Hou Woei</li>
                                    <li>Luqman Halim</li>
                                    <li>Farhan Elmi</li>
                                    <li>Jack Law</li>
                                    <li>Badrul Mustaffa</li>
                                    <li>Hafiz Rosli</li></dd>
                            </dl>
                        </div>
                    </div>

              </div>
          </div>
      </div>

      <div class="col">
          <div class="card" style="width: 21rem;">
{#              <img class="card-img-top" src="{{ url_for('static', filename='User profile photo') }}" width="250" height="250">#}
              <div class="card-body">

                  <h4><p class="text-center">Professor Lama Hamadeh</p></h4>
                  <dl class="row">
                        <dt class="col-sm-3">Role</dt>
                        <dd class="col-sm-9">Project Supervisor</dd>
                  </dl>

                 <p class="lead">Dr Lama Hamadeh
Lecturer (Teaching) in Engineering Maths/Computing
Dept of Mechanical Engineering
Faculty of Engineering Science</p>

              </div>
          </div>
      </div>

      <div class="col">
          <div class="card" style="width: 21rem;">
{#              <img class="card-img-top" src="{{ url_for('static', filename='User profile photo') }}" width="250" height="250">#}
              <div class="card-body">

                  <h4><p class="text-center">Additional support</p></h4>
                  <dl class="row">
                        <dt class="col-sm-9">UCL Computer Science Dept.</dt>
                        <dd class="col-sm-9">Sarah Sanders</dd>

                        <dt class="col-sm-12">NTU School of Science & Technology</dt>
                        <dd class="col-sm-9">David Fairhurst, Cameron Irwin</dd>
                  </dl>

                 <p class="lead">Teaching Fellow, UCL &
                 NTU collaboration team</p>

              </div>
          </div>
      </div>


  </div>
</div>
    </div>
    </div>

{% endblock %}
