{% extends 'layout.html' %}
{% set title = 'FAQs' %}
{% block content %}

 <!-- Main Content -->

    <h1>Frequently Asked Questions</h1>
    <br>

    <ol class="list-group list-group-numbered">

    <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">1) What is a profile?</div>
      A profile is created for the person that is registered on the web app. The first profile is the person that creates the account in the web app – this person will then be able to log in to their personal profile in the future by entering their personal details on the homepage of the web app.
    </div>
    <span class="badge bg-primary rounded-pill"></span>
  </li>

        <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">2) How do I order a blood test kit?</div>
      After creating a personal profile, go to the shop section of the website and proceed to order the specific types and quantites of kits needed. You will then be directed to the payment page to pay for the kits ordered.
    </div>
    <span class="badge bg-primary rounded-pill"></span>
  </li>

        <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">3) When will the blood test kit arrive to me?</div>
      Your blood test kit should arrive in 5 working days at most. If not, feel free to contact us through our feedback form.
    </div>
    <span class="badge bg-primary rounded-pill"></span>
  </li>

  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">4) How do I use the blood test kit?</div>
      Follow the instructions provided with the blood test kit thoroughly.
    </div>
    <span class="badge bg-primary rounded-pill"></span>
  </li>

        <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">5) How do I register my blood test kit/ What is registration?</div>
      Registration is required as part of the sampling process. It enables us to send the results of testing to you. Without registration, results will not be provided. Once the sampling process has occurred, registering the kit registration ID is necessary. Follow the instructions provided with the blood test kit to carry registration out.
    </div>
    <span class="badge bg-primary rounded-pill"></span>
  </li>

        <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">6) What is my kit registration ID?</div>
      Your kit registration ID is found within your blood test kit on pre-printed labels. You must use your kit registration ID to register your kit. You must not lose your kit registration ID.
    </div>
    <span class="badge bg-primary rounded-pill"></span>
  </li>

        <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">7) How do I know if my registration was successful?</div>
      You should receive an email confirming your registration was successful. If you are unsure, please try to register again as the site will not allow you to register the same kit twice. Please note that it is the customer's responsibility to ensure that their personal details filled are correct as this may prevent the registration notification and subsequent reports of results coming through.
    </div>
    <span class="badge bg-primary rounded-pill"></span>
  </li>

        <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">8) How/where do I return my blood test kit after sampling?</div>
      Using the instructions provided on the blood test kit, please ensure that the test is packed correctly. It is recommended that you use a Royal Mail Drop Box. These are open 7 days a week with multiple locations across the UK.
    </div>
    <span class="badge bg-primary rounded-pill"></span>
  </li>

  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">9) How long does it take for my results to get back to me?</div>
      Your blood results should arrive in 5 working days at most. If not, feel free to contact us through our feedback form.
    </div>
    <span class="badge bg-primary rounded-pill"></span>
  </li>

  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">10) I was notified that my results came in through e-mail. What should I do next?</div>
        Log in to your own profile to see your most recent results. This can also be seen on the dashboard once logged in.
    </div>
    <span class="badge bg-primary rounded-pill"></span>
  </li>

    <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">11) Do I need to prepare anything before sampling?</div>
      As a precaution, please refrain from consuming food and drinks 30 minutes prior to sampling.
    </div>
    <span class="badge bg-primary rounded-pill"></span>
  </li>

</ol>

{% endblock %}
