<!-- Navigation -->
<div class="container">
    <div>
        <ul class="sidebar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('blog_bp.index') }}">Main</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('blog_bp.about') }}">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('blog_bp.add') }}">Add</a>
            </li>
        </ul>
    </div>
</div>
