{% extends 'layout.html' %}
{% set title = 'Feedback Form' %}
{% from "_formhelpers.html" import render_field %}

{% block content %}
    <div class="card" style="width: 50%; background-color: lavender; margin: auto">
        <div class="card-body">
            <h1>Feedback Form</h1>
            <!--  <form action="/post" method="POST" novalidate> -->
            <form action="{{ url_for('feedback_bp.post') }}" method="POST" novalidate>
                {{ form.csrf_token }}
                <p>
                    {{ render_field(form.subject, class="form-control") }}
                    {{ render_field(form.message, class="form-control") }}
                </p>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}
