{% extends 'layout.html' %}
{% set title = 'Show Feedback' %}
{% from "_formhelpers.html" import render_field %}
{% block content %}

    <style>
        .feedback_card {
            padding-left: 10px;
            padding-top: 5px;
        }
    </style>

    <div class="card" style="width: 100%;">
        {% if posts %}
            <div class="row" style="margin-left: 0%">
                <div class="card col-sm-3" style="background-color:lavender; padding: 0%">
                    <div>
                        {% for post in posts %}
                            {% if post.id == show.id %}
                                <div class="card post-preview feedback_card" style="background-color: lavenderblush; ">
                                    <a href="{{ url_for('feedback_bp.show', post_id=post.id) }}">
                                        <h2 class="post-title">
                                            {{ post.subject }}
                                        </h2>
                                        <h5 class="post-subtitle">
                                            {{ post.message }}
                                        </h5>
                                    </a>
                                    <p class="post-meta">Posted by {{ post.name }} ({{ usertype }})
                                        on {{ post.date_posted.strftime('%B %d, %Y at %H:%M') }}</p>
                                </div>
                            {% else %}
                                <div class="card post-preview feedback_card"
                                     style="background-color: rgba(255, 255, 255, 0)">
                                    <a href="{{ url_for('feedback_bp.show', post_id=post.id) }}">
                                        <h2 class="post-title">
                                            {{ post.subject }}
                                        </h2>
                                        <h5 class="post-subtitle">
                                            {{ post.message }}
                                        </h5>
                                    </a>
                                    <p class="post-meta">Posted by {{ post.name }}
                                        on {{ post.date_posted.strftime('%B %d, %Y at %H:%M') }}</p>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>

                <div class="card col-sm-9" style="background-color:lavenderblush;">
                    <div>
                        <div class="card post-heading" style="background-color:pink; margin-top: 10px">
                            <div style="margin-left: 10px">
                                <h1>{{ show.subject }}</h1>
                                <p class="subheading">Comment: {{ show.message }}</p>
                                <p class="meta">Posted by {{ show.name }} ({{ usertype }})
                                    on {{ show.date_posted.strftime('%B %d, %Y at %H:%M') }}</p>
                            </div>
                        </div>

                        <div>
                            <h5>Replies:</h5>
                            {% for reply in replies %}
                                <div class="card" style="margin-left: 30px; background-color:lightpink">
                                    <div style="margin-left: 10px">
                                        <p>{{ reply.reply }}</p>
                                        <p>by {{ reply.username }} ({{ usertype }})
                                            on {{ reply.date_posted.strftime('%B %d, %Y at %H:%M') }}</p>
                                    </div>
                                </div>

                            {% endfor %}
                        </div>

                        <br>
                        <div>
                            <form class="form-inline" style="margin-left: 30px" method="POST" action="">
                                <dl>
                                    {{ form.csrf_token }}
                                    {{ render_field(form.reply, class="form-control") }}
                                </dl>
                                <button type="submit" class="btn btn-primary">Post</button>
                                <button type="reset" class="btn btn-primary">Cancel</button>
                            </form>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>

        {% else %}
            <div class="card-body">
                <h2>There is no feedback yet!</h2>
            </div>
        {% endif %}
    </div>
{% endblock %}
