{% extends 'layout.html' %}
{% set title = 'Forum' %}
{% from "_formhelpers.html" import render_field %}
{% block content %}
    <div class="card" style="width: 80rem;">
    <h1>Create a new comment:</h1>
    <br>
  <!--  <form action="/post" method="POST" novalidate> -->
    <form action="{{ url_for('forum_bp.post') }}" method="POST" novalidate>
     {{ form.csrf_token  }}
    <p>
        Reason: {{ form.reason(class='form-control') }}
        Post: {{ form.comment(class='form-control') }}
    </p>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    </div>
{% endblock %}
