<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    {% block javascript %}{% endblock %}
    {# Add to the head section #}
    <title>{{ title }}</title>

    <style>
    .footer {
        position:relative;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: lightgray;
        color: white;
        text-align: center;
    }
    .page-container {
        position: relative;
        min-height: 100vh;
        margin-right: 20px ;
        margin-left: 20px;
    }


    </style>
</head>
<body>

{# Add to the body section #}
<header>
    {% include 'nav_bar.html' %}
</header>

<main>

    {# Displays flashed messages on a page #}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul id="messages" class="list-unstyled">
                {% for message in messages %}
                    <li class="alert alert-primary" role="alert">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

{#    <div>#}
    <div class="page-container">
        {% block content %}{% endblock %}
    </div>
</main>
<br>

<div class="footer">
    <footer>
        <br>
        <p class="copyright">Capstone Blood Descriminacion © 2021</p>
        <a href="https://www.flaticon.com/free-icons/blood-test" title="blood test icons">Blood test web logo created by kosonicon - Flaticon</a>
        <h1></h1>
    </footer>

</div>

<script src="{{ url_for('static', filename='js/bootstrap.bundle.js') }}"></script>

</body>
</html>
