{# example nav_bar.html #}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <img alt="Page logo" style="margin-right:10px" class=img-thumbnail width=50px
             src="{{ url_for('static', filename='img/blood-test.png') }}">
        <a class="navbar-brand" href="{{ url_for("main_bp.index") }}">Blood Tester</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for("main_bp.index") }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for("feedback_bp.post") }}">Feedback</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">Blog</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{{ url_for('blog_bp.index') }}">View posts</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('blog_bp.add') }}">Add post</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('blog_bp.about') }}">About us</a></li>
                    </ul>
                </li>

                {% if current_user.is_anonymous %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for("auth.login") }}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for("auth.signup") }}">Sign up</a>
                    </li>

                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for("community_bp.profile") }}">My profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for("auth.logout") }}">Logout</a>
                    </li>
                {% endif %}
            </ul>

            <div>
                <form class="d-flex" action="{{ url_for("community_bp.display_profiles") }}" method="post">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <input class="form-control me-2" type="search" placeholder="Type in username"
                           aria-label="Type in username" name="search_term">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
            <br>
        </div>
    </div>
</nav>
