{% extends 'layout.html' %}
{% set title = 'Profile Display' %}
{% from "_formhelpers.html" import render_field %}
{% block content %}

    <style>
        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 0%;
            width: 100%;
            height: 100%;
        }
    </style>

    <div class="card" style="width: 100%; background-color: lavender">
        <div class="card-body">
            <h1>User's Profile</h1>
            <div class="row">
                <div class="col col-sm-2">
                    <div class="card border-dark" style="margin-top: 0%; width: 100%">
                        <img class="center rounded"
                             src="{{ url_for('community_bp.profile_picture', filename=profile.photo) }}"
                             alt="User profile photo" height="300px" width="300px">
                    </div>
                </div>
                <div class="col col-sm-10">
                    <table style="width:100%">
                        <tr>
                            <td>
                                <div class="card-header h4 p-3 mb-2 text-dark rounded"
                                     style="background-color: pink">
                                    User's detail
                                    {% if profile.username == current_user.username %}
                                        <form style="float:right; margin-top: -7px"
                                              action="{{ url_for("community_bp.update_profile") }}">
                                            <button type="submit" class="btn btn-primary">
                                                <img src="{{ url_for('static', filename='img/edit.png') }}"
                                                     style="width: 20px; filter: invert(1)">
                                                Edit profile
                                            </button>
                                        </form>
                                    {% endif %}
                                </div>

                                <div class="card-body rounded" style="background-color: lavenderblush">
                                    <table>
                                        <tr>
                                            <td style="width: 200px"><h5 class="card-text">Username</h5></td>
                                            <td style="width: 10px"><h5 class="card-text">:</h5></td>
                                            <td><h6 class="card-text">{{ profile.username }}</h6></td>
                                        </tr>
                                        <tr>
                                            <td><h5 class="card-text">Account type</h5></td>
                                            <td><h5 class="card-text">:</h5></td>
                                            <td><h6 class="card-text">{{ usertype }}</h6></td>
                                        </tr>
                                        <tr>
                                            <td><h5 class="card-text">Bio</h5></td>
                                            <td><h5 class="card-text">:</h5></td>
                                            <td><h6 class="card-text">{{ profile.bio }}</h6></td>
                                        </tr>
                                        <tr>
                                            <td><h5 class="card-text">Sex</h5></td>
                                            <td><h5 class="card-text">:</h5></td>
                                            <td><h6 class="card-text">{{ profile.sex }}</h6></td>
                                        </tr>
                                        <tr>
                                            <td><h5 class="card-text">Health conditions</h5></td>
                                            <td><h5 class="card-text">:</h5></td>
                                            <td><h6 class="card-text">{{ profile.conditions }}</h6></td>
                                        </tr>
                                    </table>

                                </div>
                                <br>

                                <div>
                                    <div class="h4 p-3 mb-2 text-dark rounded" style="background-color: pink">Test
                                        History
                                    </div>
                                    <div class="card-body rounded" style="background-color: lavenderblush">
                                        <table class="table table-bordered table-sm">
                                            <tr>
                                                <th>Kit ID</th>
                                                <th>Reference number</th>
                                                <th>Image</th>
                                                <th>Result</th>
                                                <th>Date & Time of completion</th>
                                            </tr>

                                            {% for kitnumber in kit_id %}
                                                <tr>
                                                    <td>
                                                        {{ kitnumber.kitID }}
                                                    </td>
                                                    <td>
                                                        {{ kitnumber.ref_num }}
                                                    </td>
                                                    <td>
                                                        Pending
                                                    </td>
                                                    <td>
                                                        -
                                                    </td>
                                                    <td>
                                                        -
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </table>
                                    </div>
                                </div>
                                <br>

                                <div>
                                    <div class="h4 p-3 mb-2 text-dark rounded" style="background-color: pink">
                                        Purchase history
                                    </div>
                                    <div class="card-body rounded" style="background-color: lavenderblush">
                                        <table class="table table-bordered table-sm">
                                            <tr>
                                                <th>Date & Time of Purchase</th>
                                                <th>Reference Number</th>
                                                <th>Item Name</th>
                                                <th>Item Number</th>
                                                <th>Price</th>
                                            </tr>

                                            {% for purchase in purchases %}
                                                <tr>
                                                    <td>
                                                        {{ purchase.date_purchased.strftime('%B %d, %Y at %H:%M') }}
                                                    </td>
                                                    <td>
                                                        {{ purchase.ref_num }}
                                                    </td>
                                                    <td>
                                                        Blood Sampling Kit
                                                    </td>
                                                    <td>
                                                        {{ purchase.QuantityA }}
                                                    </td>
                                                    <td>
                                                        ${{ purchase.QuantityA*5 }}
                                                    </td>

                                                </tr>
                                            {% endfor %}
                                        </table>
                                    </div>


                            </td>
                        </tr>

                    </table>
                </div>
            </div>
        </div>


    </div>
{% endblock %}
