{% extends 'layout.html' %}
{% set title = 'product' %}
{% from "_formhelpers.html" import render_field %}
{% block content %}
    <h1>SHOP</h1>
    <br>
    <h4>Order Yours Now!</h4>
    <br>

<div class="container">
    <div class="row">

         <div class="col">
              <div class="card" style="width: 25rem;">
                   <img class="card-img-top" src="{{ url_for('static', filename='img/blood-kit-550.png') }}" width="300" height="300">
                   <div class="card-body">
                                <br>
                                <dl class="row">
                                <dt class="col-sm-3">Item</dt>
                                <dd class="col-sm-9">Blood Test Kit</dd>

                                <dt class="col-sm-3">Price</dt>
                                <dd class="col-sm-9">
                                <p>$5</p>
                                <input class="btn btn-primary" type="submit" value="Order">
                   </div>
              </div>
         </div>

                      <div class="col">
                           <div class="card" style="width: 25rem;">
                                <img class="card-img-top" src="{{ url_for('static', filename='img/pathology-laboratory-equipments.jpg') }}" width="300" height="300">
                                <div class="card-body">
                                             <br>
                                             <dl class="row">
                                             <dt class="col-sm-3">Item</dt>
                                             <dd class="col-sm-9">Blood Test Machine</dd>

                                             <dt class="col-sm-3">Price</dt>
                                             <dd class="col-sm-9">
                                             <p>$100</p>
                                             <input class="btn btn-primary" type="submit" value="Order">
                                </div>
                           </div>
                      </div>

    </div>
</div>

{% endblock %}
