{% extends 'layout.html' %}
{% set title = 'product' %}
{% from "_formhelpers.html" import render_field %}
{% block content %}
    <br>
    <div class="container">
        <div class="card">
            {% if refnum==refnum %}
                <figure class="text-center">
                    <blockquote class="blockquote">
                        <h3>Thank you for your purchase!</h3>
                    </blockquote>
                Your reference number is <p><strong>{{ refnum }}</strong></p>
                You will be able to access your kit ID(s) from your profile page.
            {% endif %}
        <br>
                <figure class="text-center">
                    <div class="row">
                       <form action="{{ url_for("community_bp.view_profile") }}">
                            <button type="submit" class="btn btn-primary">View Profile</button>
                       </form>
                    </div>
                </figure>
        </div>
    </div>

{% endblock %}
