{% extends 'layout.html' %}
{% set title = 'product' %}
{% from "_formhelpers.html" import render_field %}
{% block content %}
    <h1>SHOP</h1>
    <h4>Order Yours Now!</h4>

    <div class="container">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    {% if session['cart'] %}

                        <div class="row">
                            <h5>{{ name }}'s Shopping cart</h5>
                        </div>

                        <div class ="row">
                            <div class="col">
                                Blood test kit x{{ session['cart']['kit']}}
                                <br>
        {#                        Blood test machine x{{ session['cart']['machine']}}#}
                                <br>
                            </div>
                        </div>

                        <div class ='row'>
                             <div class ='col-1'>
                                <form action="{{ url_for("shop_bp.clear") }}">
                                    <button type="submit" class="default-btn-sm">ClearCart</button>
                                </form>
                            </div>
                            <div class ='col-2'>
                                <form action="{{ url_for("shop_bp.payment", cart=cart)}}">
                                    <button type="submit" class="default-btn-sm">Checkout</button>
                                </form>
                            </div>
                        </div>

                    {% else %}
                        <div class="no-records">Your cart is empty</div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <br>
    <div class="container">
        <div class="row">

            <div class="col">
                <div class="card" style="width: 25rem;">
                    <img class="card-img-top" src="{{ url_for('static', filename='img/blood-kit-550.png') }}"
                         width="300" height="300">
                    <div class="card-body">
                        <br>
                        <dl class="row">
                            <dt class="col-sm-3">Item</dt>
                            <dd class="col-sm-9">Blood Test Kit</dd>

                            <dt class="col-sm-3">Price</dt>
                            <dd class="col-sm-9">
                                <p>$9.85</p>
                                <div class="add-to-cart">
                                    <form method="POST">
                                        <dl>

                                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                            <input type="hidden" name="itemid" value="kit"/>

                                        </dl>
                                        <button type="submit" class="default-btn">Add to Cart</button>
                                    </form>
                                </div>

                        </dl>
                    </div>
                </div>
            </div>


{#            <div class="col">#}
{#                <div class="card" style="width: 25rem;">#}
{#                    <img class="card-img-top"#}
{#                         src="{{ url_for('static', filename='img/pathology-laboratory-equipments.jpg') }}"#}
{#                         width="300"#}
{#                         height="300">#}
{#                    <div class="card-body">#}
{#                        <br>#}
{#                        <dl class="row">#}
{#                            <dt class="col-sm-3">Item</dt>#}
{#                            <dd class="col-sm-9">Blood Test Machine</dd>#}
{##}
{#                            <dt class="col-sm-3">Price</dt>#}
{#                            <dd class="col-sm-9">#}
{#                                <p>$100</p>#}
{#                                <div class="add-to-cart">#}
{#                                    <form class="form-inline" style="margin-left: 30px" method="POST" action="">#}
{#                                        <dl>#}
{#                                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>#}
{#                                            <input type="hidden" name="itemid" value="machine"/>#}
{#                                        </dl>#}
{#                                        <button type="submit" class="default-btn">Add to Cart</button>#}
{#                                    </form>#}
{##}
{#                        </dl>#}
{##}
{#                    </div>#}
{#                </div>#}
{#            </div>#}


        </div>
    </div>

{% endblock %}
